<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/playlist.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <title>playlists</title>
  
       
</head>
<body style="overflow: hidden">
    <div>
    <div class="container">
        <div class="sidebar">
            <div class="sidehead">
                <img id="audioPlayerimg" src="{{ url_for('static', filename='musicimage.png') }}" width="240" height="240" />
                <audio class="audioPlayer" id="audioPlayer" controls>
                    Your browser does not support the audio element.
                </audio>
                <hr style="margin: 5px 0; border: 1px solid #aaa;" />
                <button class="button_62" id='playlist_songs' role="button">Dashboard</button>
            </div>
            <div class="sidebody"></div>
        </div>
      
    <div class="data">

               
            <div style="display: flex;align-items: flex-start;justify-content: space-between;flex-direction: column;">
                <img id="audioPlayerimg" src="{{ url_for('static', filename='musicimage.png') }}" width="730" height="140" />

            <div class="searchBar">
              <h2>Your Playlists</h2>
            </div>
            <button class="button_62" id="logout" role="button">LOG OUT</button>

           
            
           
        </div>
        
     
            
            <hr style="margin: 5px 0; border: 1px solid #aaa;" />
            
            <div class="body">
               
                <div id="root"></div>
                <ul id="playlist" class="list-group"></ul>
            </div>
        </div>
    </div>
</div>

<script>
               let  response= fetch('http://127.0.0.1:5000/get_playlists', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'nothing':'nothing'})
            }).then(response => response.json()) // Parse the JSON from the response
            .then(data => {
               playlist.innerHTML = '';
               console.log(data['names']);
               for (doc in data['names']){
                if(data['names'][doc]['image']){
                  img=data['names'][doc]['image'];
                }
                else{
                  img="{{ url_for('static', filename='musicimage.png') }}";
                }
              playlist.innerHTML += `
        <li>
          <span style="width:90%;" onClick="playSong('${data['names'][doc]['name']}', '${img}')" class="list-group-item">
            <img src="${img}" style="width:50px; height:50px; margin-right: 10px;">
            <div class="song-info">
              <p class='song-title'>${data['names'][doc]['name']}</p>
              
            </div>
          </span>
         
        </li>`;
      }
          
        
         });
        
        document.getElementById('playlist_songs').addEventListener('click', function() {
            window.location.href = '/dashboard'; 
        });
 

  const playSong = (songname,img) => {
    
   let response=fetch('http://127.0.0.1:5000/get_songs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'songname':songname,'url':img})
            }).then(response => response.json()) // Parse the JSON from the response
            .then(data => {
             console.log(data);
              
window.location.href = 'http://127.0.0.1:5000/play_songs';

           });
       
  };

    </script> 
</body>
</html>
